<h2>Iniciar sesión</h2>
<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Usuario</mat-label>
        <input formControlName="username" matInput [ngClass]="{ 'is-invalid': loginForm.controls.username.errors }" autocomplete="current-username">
        <mat-error *ngIf="loginForm.controls.username.errors && loginForm.controls.username.errors.required">
            El usuario es obligatorio
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" matInput type="password" [ngClass]="{ 'is-invalid': loginForm.controls.password.errors }" autocomplete="current-password">
        <mat-error *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.required">
            La contraseña es obligatoria
        </mat-error>
        <mat-error *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.minlength">
            La contraseña debe contener al menos 6 caracteres
        </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid || loading">
        <ng-container *ngIf="!loading">Iniciar Sesión</ng-container>
        <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
    </button>
</form>
<div class="create-account">
    <p>Si aún no tienes cuenta puedes crearla <a [routerLink]="['/register']">aquí</a>.</p>
</div>