h2
    text-align: center
    margin: 15px 0 0
form
    width: 100%
    max-width: 300px
    margin: 20px auto 0
    display: flex
    flex-direction: column
    button
        margin: 20px 0 20px auto
        height: 40px
        min-width: 120px
        mat-spinner
            margin: 0 auto
.create-account
    p
        margin: 0
        text-align: center
        font-size: 12px
        font-style: italic

@media (max-width: 600px)
    form
        width: 80%
        button
            margin: 15px 0
            font-size: 16px