<mat-accordion *ngIf="menus?.length" cdkDropList [cdkDropListData]="menus" (cdkDropListDropped)="dropMenu($event)">
	<mat-expansion-panel class="menu" cdkDrag *ngFor="let menu of menus;let i = index" [expanded]="menu.expanded" (afterExpand)="setExpanded(menu)" [ngClass]="{'active': menu.active}">
		<mat-expansion-panel-header cdkDragHandle>
			<mat-panel-title (click)="editMenu($event, menu, i)">
				{{menu.name}}
			</mat-panel-title>
			<mat-slide-toggle color="primary" [checked]="menu.active" (change)="setActive(menu)" (click)="stopPropagation($event)"></mat-slide-toggle>
		</mat-expansion-panel-header>
		<div class="content">
			<div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="menu.groups">
				<div class="content__group" *ngFor="let group of menu.groups;let i = index" cdkDrag>
					<div class="content__group__drop-list" cdkDropList [id]="group.id" [cdkDropListConnectedTo]="dropTargetIds[menu.id]" [cdkDropListData]="group.products" (cdkDropListDropped)="drop($event)">
						<div *ngIf="group.master" class="content__group__content">
							<div class="content__product-list__item" *ngFor="let product of group.products;let i = index" [ngClass]="{'not-available': !product.available}" cdkDrag>
								<div class="content__product-list__item__details">
									<span class="content__product-list__item__details__name">{{product.name}}</span>
									<span class="content__product-list__item__details__price">{{product.price | number : '1.2-2'}}€</span>
								</div>
								<div class="content__product-list__item__actions">
									<button type="button" mat-icon-button [matMenuTriggerFor]="productActionsMenu" [matMenuTriggerData]="{'group': group, 'i': i}">
										<mat-icon>more_vert</mat-icon>
									</button>
								</div>
							</div>
						</div>
						<div *ngIf="!group.master" class="content__group__content">
							<h3 (click)="editGroup(menu, i)">{{group.name}} <strong *ngIf="group.price">({{group.price}}€)</strong></h3>
							<div class="content__product-list__item" *ngFor="let product of group.products;let i = index" [ngClass]="{'not-available': !product.available}" cdkDrag>
								<div class="content__product-list__item__details">
									<span class="content__product-list__item__details__name">{{product.name}}</span>
									<span class="content__product-list__item__details__price" *ngIf="!group.price">{{product.price | number : '1.2-2'}}€</span>
								</div>
								<div class="content__product-list__item__actions">
									<button type="button" mat-icon-button [matMenuTriggerFor]="productActionsMenu" [matMenuTriggerData]="{'group': group, 'i': i}">
										<mat-icon>more_vert</mat-icon>
									</button>
								</div>
							</div>
							<button class="content__group__remove-button" mat-icon-button color="primary" (click)="deleteGroup(menu, i)"><mat-icon>close</mat-icon></button>
						</div>
					</div>
					<button class="content__group__add-button" mat-icon-button color="primary" (click)="addProduct(group)"><mat-icon>add_box</mat-icon></button>
				</div>
			</div>
			<button class="content__action-button" mat-stroked-button color="primary" (click)="addGroup(menu)">Añadir categorías a la carta</button>
		</div>
		<mat-action-row>
			<button mat-stroked-button class="save-button" color="primary" (click)="saveMenu(menu)" [disabled]="menu.updating">
				<mat-icon *ngIf="!menu.updating">save</mat-icon>
				<mat-spinner *ngIf="menu.updating" diameter="20"></mat-spinner>
			</button>
			<button mat-stroked-button class="delete-button" color="primary" (click)="deleteMenu(menu)">
				<mat-icon *ngIf="!menu.deleting">delete</mat-icon>
				<mat-spinner *ngIf="menu.deleting" diameter="20"></mat-spinner>
			</button>
		</mat-action-row>
	</mat-expansion-panel>
</mat-accordion>
<mat-menu #productActionsMenu="matMenu">
    <ng-template matMenuContent let-group="group" let-i="i">
        <button mat-menu-item (click)="editProduct(group, i, 'name')">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
        </button>
        <button mat-menu-item *ngIf="group.products[i].available" (click)="setAvailableProduct(group, i, false)">
            <mat-icon>visibility_off</mat-icon>
            <span>Agotar</span>
        </button>
		<button mat-menu-item *ngIf="!group.products[i].available" (click)="setAvailableProduct(group, i, true)">
            <mat-icon>visibility</mat-icon>
            <span>Reponer</span>
        </button>
        <button mat-menu-item (click)="deleteProduct(group, i)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
        </button>
    </ng-template>
</mat-menu>
<div class="no-items-message" [hidden]="loadingMenus || errorLoadingMenus || menus?.length">
	<p>Aún no hay ningún menú en tu lista, puedes crear menús pulsando este botón.</p>
</div>
<button mat-fab type="button" class="product-add-button" color="primary" aria-label="Add a new menu"
	(click)="createMenu()" [disabled]="creatingMenu" *ngIf="!loadingMenus && !errorLoadingMenus">
	<mat-icon *ngIf="!creatingMenu">post_add</mat-icon>
	<mat-spinner *ngIf="creatingMenu" diameter="20"></mat-spinner>
</button>
<div class="no-items-message" [hidden]="!errorLoadingMenus || loadingMenus">
	<p>Hubo un problema al intentar obtener los menus, pulsa el botón para reintentar o intentelo más tarde.</p>
</div>
<button mat-fab type="button" class="product-add-button" color="primary" aria-label="Reload"
	(click)="reload()" *ngIf="errorLoadingMenus && !loadingMenus">
	<mat-icon>refresh</mat-icon>
</button>
<mat-spinner class="loading-menus" *ngIf="loadingMenus" diameter="50"></mat-spinner>