mat-accordion
    display: block
    width: 80%
    margin: 0 auto

mat-expansion-panel
    touch-action: none
    max-width: 900px
    margin: 0 auto
    background-color: #f4f4f4
    mat-expansion-panel-header
        background-color: #e6e6e6 !important
        mat-slide-toggle
            margin-left: auto
            margin-right: 20px
            align-self: center
    &.active
        background-color: #ebf0ff
        mat-expansion-panel-header
            background-color: #b8c0e4 !important
    ::ng-deep .mat-expansion-panel-body
        padding: 0 16px 16px
    mat-panel-title
        font-size: 20px
        font-weight: bold
        font-family: serif
        flex-grow: initial
        border: dashed 1px #80808063
        border-radius: 5px
        padding: 5px
        cursor: text
    mat-action-row
        align-items: center
        mat-slide-toggle
            flex: 1
        .save-button,
        .delete-button
            display: block
            height: 40px
            mat-spinner
                margin: 0 auto

.no-items-message
    p
        text-align: center
        width: 250px
        margin: 20px auto
        background: aliceblue
        padding: 10px
        font-family: sans-serif

.content
    &__product-list
        background-color: white
        border: dotted 1px gray
        width: 100%
        margin: 20px auto
        display: block
        touch-action: none
        &__item
            height: 60px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            cursor: move
            box-sizing: border-box
            background-color: white
            padding: 10px
            border-bottom: solid 1px lightgray
            &.not-available
                background-color: #fff0f0
                color: #a19d9d
            &__details
                width: -webkit-fill-available
                display: flex
                &__name
                    width: 80%
                &__price
                    float: right
                    margin-left: 5px
            span
                display: flex
                padding: 5px
                align-items: center
            &__actions
                display: inline-flex
                align-items: center
                flex-direction: row-reverse
            &.cdk-drag-preview
                font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif
                box-sizing: border-box
                border-radius: 4px
                box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),0 8px 10px 1px rgba(0, 0, 0, 0.14),0 3px 14px 2px rgba(0, 0, 0, 0.12)
    &__group
        width: 100%
        display: block
        touch-action: none
        min-height: 60px
        position: relative
        background-color: #eeeeee
        border: solid 1px lightgray
        border-radius: 5px
        margin: 20px auto
        &__drop-list
            display: block
            position: relative
            touch-action: none
            min-height: 60px
        h3
            padding: 5px
            width: fit-content
            margin: 5px auto
            border: dashed 1px #80808063
            border-radius: 5px
            cursor: text
            strong
                display: block
                text-align: center
        &__add-button
            display: block
            margin: 5px auto
        &__remove-button
            position: absolute
            top: -10px
            right: -5px
    &__action-button
        margin: 2px auto
        display: block
        width: 200px

.cdk-drag-placeholder
    opacity: 0.3

.product-add-button
    margin: 20px auto
    display: block

.loading-menus
    margin: 20px auto

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb
    background-color: #031a86 !important

.cdk-drag-animating
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

@media (max-width: 600px)
