<h2>Crear Cuenta</h2>
<form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>CIF <dfn>(Usuario)</dfn></mat-label>
        <input formControlName="cif" matInput autocomplete="off" [ngClass]="{ 'is-invalid': registerForm.controls.cif.errors }">
        <mat-error *ngIf="registerForm.controls.cif.errors && registerForm.controls.cif.errors.required">
            El CIF es obligatorio
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" matInput autocomplete="off" type="password" [ngClass]="{ 'is-invalid': registerForm.controls.password.errors }">
        <mat-error *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.required">
            La contraseña es obligatoria
        </mat-error>
        <mat-error *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.minlength">
            La contraseña debe contener al menos 6 caracteres
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Repetir Contraseña</mat-label>
        <input formControlName="repeated_password" matInput autocomplete="off" type="password" [ngClass]="{ 'is-invalid': registerForm.controls.repeated_password.errors }">
        <mat-error *ngIf="registerForm.controls.repeated_password.errors && registerForm.controls.repeated_password.errors.required">
            La contraseña es obligatoria
        </mat-error>
        <mat-error *ngIf="registerForm.controls.repeated_password.errors && registerForm.controls.repeated_password.errors.minlength">
            La contraseña debe contener al menos 6 caracteres
        </mat-error>
        <mat-error *ngIf="registerForm.controls.repeated_password.errors && registerForm.controls.repeated_password.errors.matchPassword">
            Las contraseñas deben coincidir
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Nombre del establecimiento</mat-label>
        <input formControlName="name" matInput autocomplete="off" [ngClass]="{ 'is-invalid': registerForm.controls.name.errors }">
        <mat-error *ngIf="registerForm.controls.name.errors && registerForm.controls.name.errors.required">
            El nombre es obligatorio
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Dirección del establecimiento</mat-label>
        <input formControlName="address" matInput autocomplete="off" [ngClass]="{ 'is-invalid': registerForm.controls.address.errors }">
        <mat-error *ngIf="registerForm.controls.address.errors && registerForm.controls.address.errors.required">
            La dirección es obligatoria
        </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid || loading">
        <ng-container *ngIf="!loading">Registrar</ng-container>
        <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
    </button>
</form>
<div class="login">
    <p>Ya tengo cuenta, iniciar sesión <a [routerLink]="['/login']">aquí</a>.</p>
</div>