.actions-menu
    position: fixed
    bottom: 0
    width: 640px
    left: 50%
    transform: translate(-50%, 0)
    display: flex
    justify-content: space-around
    background-color: #edfdff
    z-index: 1
    button
        margin: 5px
        border-color: inherit

.cart
    position: fixed
    bottom: 0
    left: 0
    background-color: #edfdff
    width: 100%
    z-index: 2
    padding-top: 30px
    &__close
        position: absolute
        top: 0
        right: 0
        z-index: 3
    &__subcart
        padding: 0
        &__content
            align-items: center
            &__name
                width: 50%
                white-space: pre-wrap
            &__price,
            &__count,
            &__total
                width: 15%
                text-align: center
                white-space: nowrap
            &__total
                width: 20%
                text-align: right
        &__content:not(:first-of-type)
            border-top: solid 1px lightblue
    &__subcart:not(:first-of-type)
        border-top: dashed 2px #1b00ff
        padding-top: 10px
        margin-top: 10px
    &__total
        display: flex
        margin: 16px
        align-items: center
        span
            font-size: 18px
            font-weight: bold
            color: darkred
        &__text
            flex: 2
        &__value
            text-align: right
        button
            margin-bottom: 1px
            color: darkred

@media (max-width: 600px)
    .actions-menu
        width: 100%
        left: 0
        transform: translate(0)
            