<div class="actions-menu mat-elevation-z8" *ngIf="!cartEnabled">
    <button mat-stroked-button color="primary" [disabled]="!clearSelectionEnabled" (click)="clearSelectedProducts()">
        <mat-icon>clear_all</mat-icon>
    </button>
    <button mat-stroked-button color="primary" [disabled]="!clearSelectionEnabled" (click)="addSelectionToCart()">
        <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button mat-stroked-button color="primary" [disabled]="!itemsInCart.length" (click)="showCart()">
        <mat-icon>local_atm</mat-icon>
    </button>
</div>
<div class="cart mat-elevation-z8" *ngIf="cartEnabled">
    <button class="cart__close" mat-icon-button color="primary" (click)="hideCart()">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-list class="cart__subcart" *ngFor="let subCart of itemsInCart">
        <mat-list-item class="cart__subcart__content" *ngFor="let product of subCart">
            <div class="cart__subcart__content__name">{{product.name}}</div>
            <div class="cart__subcart__content__price">{{product.price | number : '1.2-2'}}€</div>
            <div class="cart__subcart__content__count"> x {{product.count}}</div>
            <div class="cart__subcart__content__total"> = <strong>{{(product.count * product.price) | number : '1.2-2'}}€</strong></div>
        </mat-list-item>
    </mat-list>
    <div class="cart__total" *ngIf="total">
        <span class="cart__total__text">Total</span>
        <button mat-icon-button (click)="deleteCart()">
            <mat-icon>delete</mat-icon>
        </button>
        <span class="cart__total__value">{{total | number : '1.2-2'}}€</span>
    </div>
</div>