@import "src/assets/styles/partials/variables"

h3
    text-align: center

mat-tab-group
    width: 600px
    margin: 0 auto
    background-color: #f5f5f5d1
    padding: 20px
    user-select: none
    margin-bottom: 50px
    mat-selection-list
        outline: none
        mat-list-option
            padding: 10px 0
            height: 56px
            border-bottom: solid 1px #dfdfdf
            &.not-available
                color: gray
                background-color: inherit
            .menu-item
                width: 100%
                display: flex
                align-items: center
                &__name
                    flex: 1
                    width: 65%
                    white-space: break-spaces
                &__price
                    width: 15%
                    margin-right: 15px
                    text-align: right
                &__controls
                    display: flex
                    align-items: center
                    &__badge
                        width: 24px
                        background-color: $primary
                        height: 24px
                        margin-left: auto
                        border-radius: 50%
                        font-size: 15px
                        display: flex
                        align-items: center
                        color: white
                        span
                            flex: 1
                            text-align: center
                    &__remove
                        opacity: 0.5
                        font-size: 13px
                &__not-available
                    display: flex
                    align-items: center
                    span
                        color: darkred
                        font-style: italic
                        opacity: 0.7
                        margin-left: auto
                        margin-right: 5px
            .menu-item-description
                font-size: 10px
                font-style: italic
                white-space: pre-wrap
        mat-list-option.group
            height: auto
            .menu-item
                &__products
                    flex: 1

.no-items-message
    p
        text-align: center
        width: 250px
        margin: 20px auto
        background: aliceblue
        padding: 10px
        font-family: sans-serif

[hidden]
    visibility: hidden

.loading-menus
    margin: 20px auto

::ng-deep .mat-list-text
    padding-right: 0 !important

::ng-deep .mat-list-single-selected-option
    background-color: inherit !important

@media (max-width: 600px)
    mat-tab-group
        width: 100%
        padding: 0
