<mat-tab-group mat-align-tabs="center" *ngIf="!loadingMenus">
    <mat-tab *ngFor="let menu of menus" [label]="menu.name">
        <mat-selection-list [multiple]="false" [disableRipple]="true">
            <ng-container *ngFor="let group of menu.groups">
                <ng-container *ngIf="!group.price"> 
                    <h3 *ngIf="group.name !== 'master'">{{group.name}}</h3>
                    <ng-container *ngFor="let product of group.products">
                        <mat-list-option (click)="addProduct(product)" *ngIf="!group.price" [disabled]="!product.available" [ngClass]="{'not-available': !product.available}">
                            <div class="menu-item" mat-line>
                                <span class="menu-item__name">
                                    {{product.name}}
                                    <svg *ngIf="product.newAddition" class="svg-icon" style="margin-bottom: 3px;width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M965.76 576l-74.56-78.08a107.2 107.2 0 0 1-19.84-105.6l40.96-99.84a40.96 40.96 0 0 0-39.68-60.8l-107.84-0.64a107.2 107.2 0 0 1-88.64-60.48l-41.6-99.52a40.96 40.96 0 0 0-71.04-14.72l-78.08 74.24a107.2 107.2 0 0 1-105.6 19.84L280 109.76a40.96 40.96 0 0 0-60.8 39.68L216.96 256a107.2 107.2 0 0 1-60.48 88.64l-99.52 41.6a40.96 40.96 0 0 0-14.72 71.04l74.56 78.08a107.52 107.52 0 0 1 19.84 105.6L96 741.76a40.96 40.96 0 0 0 39.68 60.8l107.84 2.56A107.2 107.2 0 0 1 331.84 864l41.6 99.52a40.96 40.96 0 0 0 71.04 14.72l78.08-74.56a107.2 107.2 0 0 1 105.6-19.84l99.84 40.96a40.96 40.96 0 0 0 60.8-39.68l2.56-107.84a107.2 107.2 0 0 1 60.48-88.64l99.52-41.6a40.96 40.96 0 0 0 14.4-71.04z m-309.44 128c-18.56 3.2-43.2 0-79.36-34.56-25.28-24.96-102.72-118.08-154.88-181.12l37.76 187.52a73.92 73.92 0 0 1-1.92 39.68 51.84 51.84 0 0 1-65.6 29.12A64 64 0 0 1 352 686.72l-50.56-288A59.52 59.52 0 0 1 311.68 352a64 64 0 0 1 43.52-21.76A55.36 55.36 0 0 1 416 352c26.24 29.76 52.16 59.84 77.76 89.92 32 36.8 61.12 73.92 91.52 110.72l-39.04-195.52a64 64 0 0 1 3.2-37.12 48.64 48.64 0 0 1 39.04-32 52.8 52.8 0 0 1 40.96 9.28 71.36 71.36 0 0 1 24.64 47.04L704 630.72A55.68 55.68 0 0 1 656.32 704z" fill="#231F20" /></svg>
                                </span>
                                <span class="menu-item__price" *ngIf="!group.price"><strong>{{product.price | number : '1.2-2'}}€</strong></span>
                                <div class="menu-item__controls" *ngIf="product.available">
                                    <div class="menu-item__controls__badge" [hidden]="!product.count">
                                        <span>{{product.count}}</span>
                                    </div>
                                    <button class="menu-item__controls__remove" mat-icon-button [hidden]="!product.count" (click)="removeProduct($event, product)">
                                        <mat-icon>remove_circle</mat-icon>
                                    </button>
                                </div>
                                <div class="menu-item__not-available" *ngIf="!product.available">
                                    <span>Agotado</span>
                                </div>
                            </div>
                            <div mat-line class="menu-item-description" *ngIf="product.description">({{product.description}})</div>
                        </mat-list-option>
                        <mat-list-option [disabled]="true" *ngIf="group.price">
                            <div class="menu-item" mat-line>
                                <span class="menu-item__name">{{product.name}}</span>
                            </div>
                            <div mat-line class="menu-item-description" *ngIf="product.description">({{product.description}})</div>
                        </mat-list-option>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="group.price">
                    <mat-list-option (click)="addProduct(group)" class="group">
                        <h3 *ngIf="group.name !== 'master'">{{group.name}} {{group.price | number : '1.2-2'}}€</h3>
                        <div class="menu-item" mat-line>
                            <div class="menu-item__products">
                                <div class="menu-item__products__product" *ngFor="let product of group.products">
                                    {{product.name}}
                                    <div mat-line class="menu-item-description" *ngIf="product.description">({{product.description}})</div>
                                </div>
                            </div>
                            <div class="menu-item__controls">
                                <div class="menu-item__controls__badge" [hidden]="!group.count">
                                    <span>{{group.count}}</span>
                                </div>
                                <button class="menu-item__controls__remove" mat-icon-button [hidden]="!group.count" (click)="removeProduct($event, group)">
                                    <mat-icon>remove_circle</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-list-option>
                </ng-container>
            </ng-container>
        </mat-selection-list>
    </mat-tab>
</mat-tab-group>
<div class="no-items-message" [hidden]="loadingMenus || menus?.length">
    <p>No hay menús disponibles en este momento, consulte con el personal.</p>
</div>
<mat-spinner class="loading-menus" *ngIf="loadingMenus" diameter="50"></mat-spinner>
<app-cart [barId]="barId"></app-cart>
