.content
    h2
        text-align: center
    &__actions-container
        display: flex
        flex-wrap: wrap
        width: 80%
        margin: 20px auto
        justify-content: center
        &__item
            cursor: pointer
            text-align: center
            user-select: none
            -webkit-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            -webkit-user-drag: none
            -webkit-tap-highlight-color: transparent
            text-decoration: none
            color: inherit
            margin: 20px
            border-radius: 5px
            background-color: aliceblue
            height: 100px
            display: flex
            flex: 100%
            max-width: 600px
            align-items: center
            justify-content: space-around
    
mat-spinner
    margin: 20px auto

@media (max-width: 600px)
