<div class="content" *ngIf="bar && !loading">
    <div class="content__actions-container">
        <a routerLink="menus" class="content__actions-container__item mat-elevation-z4" matRipple>
            <span>Gestionar cartas</span>
        </a>
        <div [routerLink]="['/bar/' + bar.id + '/qr']" class="content__actions-container__item mat-elevation-z4" matRipple>
            Generar QR
        </div>
        <div [routerLink]="['/bar/' + bar.id + '/config']" class="content__actions-container__item mat-elevation-z4" matRipple>
        Gestionar información general
        </div>
    </div>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>