<div mat-dialog-title>
    <h3>
        <ng-container *ngIf="!data">
            Crear
        </ng-container>
        <ng-container *ngIf="data">
            Editar
        </ng-container>
        categoría
    </h3>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content [(formGroup)]="form" cdkFocusRegionStart>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" cdkFocusInitial autocomplete="off">
        <mat-hint>El nombre que quieres ponerle a la categoría</mat-hint>
        <mat-error *ngIf="form.controls.name.invalid">Debe introducir un nombre</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Precio</mat-label>
        <input type="number" matInput formControlName="price" autocomplete="off">
        <mat-hint>Puedes poner precio a una categoría y crear así una oferta o pack.</mat-hint>
    </mat-form-field>
</div>
<mat-dialog-actions cdkFocusRegionEnd>
    <button mat-raised-button type="button" color="primary" [disabled]="form.invalid" (click)="save()">
        <ng-container *ngIf="!data">
            Crear
        </ng-container>
        <ng-container *ngIf="data">
            Editar
        </ng-container>
    </button>
</mat-dialog-actions>
