.header
    &__menu
        position: absolute
        top: 10px
        left: 10px
    &__title
        margin: 0 auto
        cursor: pointer
        font-family: -webkit-pictograph
        font-size: 25px
    &__company-logo
        height: 35px
        position: absolute
        right: 10px
        &.expanded
            position: relative
            margin: 0 auto
            right: 0