<mat-toolbar class="header" color="primary">
	<div class="header__menu" *ngIf="authService.loginStatus$ | async">
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>menu</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="redirectTo('home')">
				<mat-icon>home</mat-icon>
				<span>Menú Principal</span>
			</button>
			<button mat-menu-item (click)="redirectTo('manage-menus')">
				<mat-icon>restaurant_menu</mat-icon>
				<span>Gestionar Cartas</span>
			</button>
			<button mat-menu-item (click)="redirectTo('generate-qr')">
				<mat-icon>qr_code_2</mat-icon>
				<span>Generar QR</span>
			</button>
			<button mat-menu-item (click)="redirectTo('manage-account')">
				<mat-icon>manage_accounts</mat-icon>
				<span>Gestionar Cuenta</span>
			</button>
			<button mat-menu-item (click)="authService.logout()">
				<mat-icon>logout</mat-icon>
				<span>Cerrar Sesión</span>
			</button>
		</mat-menu>
	</div>
	<h1 class="header__title" [hidden]="!title" (click)="redirectTo('home')">{{ title }}</h1>
	<img class="header__company-logo" [ngClass]="{'expanded': !title}" src="assets/images/bar-logo.png">
</mat-toolbar>
<router-outlet></router-outlet>