<div #screen class="screen">
    <div class="qr-print">
        <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value" cssClass="bshadow">
        </ngx-qrcode>
        <div class="name-container">
            <span>{{barName}}</span>
        </div>
    </div>
</div>
<div id="download">
    <img #canvas>
    <a #downloadLink></a>
</div>
<div class="actions">
    <button mat-raised-button color="primary" (click)="downloadPDF()">
        Descargar los menus
    </button>
    <a href="{{value}}" target="_blank">
        <button mat-raised-button color="primary">
            Ver los menus
        </button>
    </a>
</div>