#download
    display: none

.screen
    max-width: 600px
    padding: 5px
    margin: 5px auto
    width: 50%
    .qr-print
        width: 90%
        margin: 10px auto
        border: dashed 1px gray
        position: relative
        .name-container
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            span
                display: block
                text-align: center
    
.actions
    display: block
    margin: 0 auto
    width: fit-content
    a
        text-decoration: none
    button
        display: block
        width: 100%
        margin: 10px auto