<h2>Modificar Información General</h2>
<form [(formGroup)]="form" (ngSubmit)="save()">
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>CIF</mat-label>
        <input formControlName="cif" matInput autocomplete="off" readonly [ngClass]="{ 'is-invalid': form.controls.cif.errors }">
        <mat-error *ngIf="form.controls.cif.errors && form.controls.cif.errors.required">
            El CIF es obligatorio
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" matInput autocomplete="off" (focus)="checkIfDefaultValue('password', 'unchanged')" type="password" [ngClass]="{ 'is-invalid': form.controls.password.errors }">
        <mat-error *ngIf="form.controls.password.errors && form.controls.password.errors.required">
            La contraseña es obligatoria
        </mat-error>
        <mat-error *ngIf="form.controls.password.errors && form.controls.password.errors.minlength">
            La contraseña debe contener al menos 6 caracteres
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Repetir Contraseña</mat-label>
        <input formControlName="repeated_password" matInput autocomplete="off" (focus)="checkIfDefaultValue('repeated_password', 'unchanged')" type="password" [ngClass]="{ 'is-invalid': form.controls.repeated_password.errors }">
        <mat-error *ngIf="form.controls.repeated_password.errors && form.controls.repeated_password.errors.required">
            La contraseña es obligatoria
        </mat-error>
        <mat-error *ngIf="form.controls.repeated_password.errors && form.controls.repeated_password.errors.minlength">
            La contraseña debe contener al menos 6 caracteres
        </mat-error>
        <mat-error *ngIf="form.controls.repeated_password.errors && form.controls.repeated_password.errors.matchPassword">
            Las contraseñas deben coincidir
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput autocomplete="off" [ngClass]="{ 'is-invalid': form.controls.name.errors }">
        <mat-error *ngIf="form.controls.name.errors && form.controls.name.errors.required">
            El nombre es obligatorio
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label>Dirección</mat-label>
        <input formControlName="address" matInput autocomplete="off" [ngClass]="{ 'is-invalid': form.controls.address.errors }">
        <mat-error *ngIf="form.controls.address.errors && form.controls.address.errors.required">
            La dirección es obligatoria
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!form.valid || savingContent">
        <ng-container *ngIf="!savingContent">Guardar</ng-container>
        <mat-spinner diameter="20" *ngIf="savingContent"></mat-spinner>
    </button>
</form>
