<div mat-dialog-title>
    <h3>
        <ng-container *ngIf="data.new">
            Añadir
        </ng-container>
        <ng-container *ngIf="!data.new">
            Editar
        </ng-container>
        producto
    </h3>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content [(formGroup)]="form" cdkFocusRegionStart>
    <mat-form-field appearance="outline" color="primary">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" [attr.cdkFocusInitial]="initialFocus('name')" autocomplete="off">
        <mat-error *ngIf="form.controls.name.invalid">Debe introducir un nombre</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
        <mat-label>Descripción</mat-label>
        <textarea matInput 
            formControlName="description"
            rows="4"
            autocomplete="off">
        </textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
        <mat-label>Precio</mat-label>
        <input type="number" matInput formControlName="price" [attr.cdkFocusInitial]="initialFocus('price')" autocomplete="off">
        <mat-error *ngIf="form.controls.price.invalid">El precio debe ser una cifra mayor que 0</mat-error>
    </mat-form-field>
    <mat-slide-toggle color="primary" formControlName="newAddition">Destacar</mat-slide-toggle>
</div>
<mat-dialog-actions cdkFocusRegionEnd>
    <button mat-raised-button type="button" color="primary" [disabled]="form.invalid" (click)="save()">
        <ng-container *ngIf="data.new">
            Añadir
        </ng-container>
        <ng-container *ngIf="!data.new">
            Editar
        </ng-container>
    </button>
</mat-dialog-actions>
