@import "./partials/variables"
@include mat-core()

$app-theme: mat-light-theme($app-primary,$app-accent,$app-warn)
@include angular-material-theme($app-theme)

body,html
    margin: 0
    height: 100vh
    app-root
        display: flex
        flex-direction: column
        overflow: hidden

.mat-snack-bar-container
    .mat-simple-snackbar
        span
            margin: 0 auto
            font-size: 15px
            color: white
    &.error
        background-color: #c91515

input:-webkit-autofill
    -webkit-text-fill-color: #888
    -webkit-box-shadow: 0 0 0 1000px transparent inset
    transition: background-color 5000s ease-in-out 0s
    padding-left: 10px
    box-sizing: border-box
    
    &:hover, &:focus input:-webkit-autofill
        -webkit-text-fill-color: #888
        -webkit-box-shadow: 0 0 0 1000px transparent inset
        transition: background-color 5000s ease-in-out 0s
        padding-left: 10px
        box-sizing: border-box
    
textarea:-webkit-autofill
    -webkit-text-fill-color: #888
    -webkit-box-shadow: 0 0 0 1000px transparent inset
    transition: background-color 5000s ease-in-out 0s
    padding-left: 10px
    box-sizing: border-box
    
    &:hover textarea:-webkit-autofill:focus
        -webkit-text-fill-color: #888
        -webkit-box-shadow: 0 0 0 1000px transparent inset
        transition: background-color 5000s ease-in-out 0s
        padding-left: 10px
        box-sizing: border-box
    
select:-webkit-autofill
    -webkit-text-fill-color: #888
    -webkit-box-shadow: 0 0 0 1000px transparent inset
    transition: background-color 5000s ease-in-out 0s
    padding-left: 10px
    box-sizing: border-box
    
    &:hover, &:focus
        -webkit-text-fill-color: #888
        -webkit-box-shadow: 0 0 0 1000px transparent inset
        transition: background-color 5000s ease-in-out 0s
        padding-left: 10px
        box-sizing: border-box

.bshadow
    width: 100%
    display: inline-block
    img
        width: 100%