

::ng-deep .mat-dialog-container
    position: relative
    width: 50vw

.mat-dialog-title
    h3
        margin: 0
    .mat-icon-button
        position: absolute
        right: 0
        top: 0

.mat-dialog-content
    height: 44vh
    width: 80%
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: space-evenly
    margin-bottom: 35px
    mat-form-field
        width: 100%

.mat-dialog-actions
    position: absolute
    bottom: 30px
    right: 30px

@media screen and (max-width: 650px), screen and (max-height: 650px)
    ::ng-deep .cdk-overlay-pane
        max-width: 100vw !important
    ::ng-deep .mat-dialog-container
        width: 95vw
        height: 95vh

    .mat-dialog-actions
        bottom: 50px
        width: calc(100% - 48px)
        left: 24px
        button
            width: 100%
            height: 50px
            font-size: 20px